.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log
service-account-*.json
*.json
